.nav-links{
    display:grid;
    grid-template-columns: repeat(1, auto);
    grid-gap:20px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color:white;
    transition: 0.3s all;
}


.nav-link:hover{
    color:greenyellow;
}