.backimg{
   
    width:100%;
    height: auto;
    padding-top:80px;
    
}

.backimg:after{
    
    top: 225px;
    left:0;
    position:absolute;
    background-size:100%;
    opacity:0.3!important;
    filter:alpha(opacity=50);
    z-index:-1;
    content:"";
    width:100%;
    height:75%;
    background: linear-gradient(
        to top,
        rgba(20, 20, 20, 0) 10%,
        rgba(20, 20, 20, 0.25) 25%,
        rgba(20, 20, 20, 0.5) 50%,
        rgba(20, 20, 20, 0.75) 95%,
        rgba(20, 20, 20, 1) 100%
      ),  url(./components/img/LostArkBackground.png);
    background-size: cover;

}